.monaco-editor {
  &-wrap {
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;
    background: rgb(46, 46, 46);
    box-shadow: 0 2px 4px 0 #00000029;
  }

  &-title {
    color: #C4C6CC;
    font-size: 12px;
  }

  &-toolbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .tools-item {
      width: 28px;
      height: 28px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      &:hover{
        background: rgb(66, 66, 66);
      }
    }
  }

  &-content {
    padding-top: 12px;
    flex: 1;
  }

  &-full {
    height: 100%;
  }
}
