.monaco-editor {
  &-wrap {
    font-size: 14px;
    position: relative;
    padding: 24px 0 0;
  }

  &-toolbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 24px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .tools-item {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      padding: 0 2px;
      margin-left: 4px;

    }
  }

  &-content {
   height: 100%;
  }
}
