.monaco-editor {
  &-wrap {
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: #3D3D3D;
  }

  &-title {
    color: #C4C6CC;
    font-size: 12px;
  }

  &-toolbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .tools-item {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      padding: 0 2px;
      margin-left: 8px;
    }
  }

  &-content {
    padding-top: 12px;
    flex: 1;
  }
}
